<html>
  <head>
    <title>Список преподавателей</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <a href="/teachers/create">Добавить преподавателя</a>
    <h1>Список преподавателей</h1>
    <table>
      <tr><th>Фамилия</th><th>Имя</th><th>Отчество</th><th>Ученая степень</th><th
        >Кафедра</th></tr>
      {{#each teachers}}
        <tr><td>{{this.lastName}}</td><td>{{this.firstName}}</td><td
          >{{this.patronymic}}</td><td>{{this.academicDegree}}</td><td
          >{{this.department}}</td></tr>
      {{/each}}
    </table>
  </body>
</html>